<?xml version="1.0"?>
<robot name="myfirst">

<xacro:property name="cyllen" value="0.6" />
<xacro:property name="cylrad" value="0.3" />
<xacro:property name="cyl" value="cylinder" />

<!-- Cylinder 1 -->
<link name="${cyl}_1" />
  <visual>
    <geometry type=cylinder radius = "${cylrad}" length="${cyllen}"  />
      <!-- <cylinder radius = "${cylrad}" length="${cyllen}" /> -->
    <!-- </geometry> -->
    <origin xyz="0 0 -${cyllen/2}" rpy="0 0 0"/>
    <material name = "red" />
  </visual>

  <collision>
    <geometry type=cylinder radius = "${cylrad}" length="${cyllen}"  />
        <!-- <cylinder radius="${cylrad}" length="${cyllen}" /> -->
    <!-- </geometry> -->
    <origin xyz="0 0 -${cyllen/2}" rpy="0 0 0"/>
  </collision>
  <!-- <xacro:default_interial mass="2"/> -->
</link>

<!-- Cylinder 2 -->
<!-- <link name="${cyl}_2" />
  <visual>
    <geometry>
      <cylinder radius = "${cylrad}" length="${cyllen}" />
    </geometry>
    <origin xyz="2 0 -${cyllen/2}" rpy="0 0 0"/>
    <material name = "green" />
  </visual>

  <collision>
    <geometry>
        <cylinder radius="${cylrad}" length="${cyllen}" />
    </geometry>
    <origin xyz="2 0 -${cyllen/2}" rpy="0 0 0"/>
  </collision> -->
  <!-- <xacro:default_interial mass="2"/> -->
<!-- </link> -->

<!-- World link -->
<link name="world"/>
<!--
<joint name="fixed" type="fixed">
  <parent link="world"/>
  <child link="${cyl}_1"/>
</joint> -->

<!-- Joint for Cylinder_1 -->
<joint name="${cyl}_1_to_world" type="fixed">
  <parent link="world">
  <child link="${cyl}_1"/>
  <origin xyz="0 0 ${cyllen/2}"/>
</joint>

<!-- Joint for Cylinder_2 -->
<!-- <joint name="${cyl}_2_to_world">
  <parent link="world">
  <child link="${cyl}_2"/>
  <origin xyz="2 0 ${cyllen/2}"/>
</joint> -->



</robot>
