<?xml version="1.0"?>
<robot name="myfirst">

  <xacro:property name="leglen" value="0.6" />

<xacro:macro name="cylinder" params="filler">
  <link name="cyl_${suffix}">
    <visual>
      <geometry>
        <cylinder length="${cyllen}" radius="0.2"/>
      </geometry>
      <origin xyz="0 0 -${cyllen/2}" rpy="0 0 0"/>
      <material name="red"/>
    </vusial>
    <collision>
      <geometry>
        <cylinder length="${cyllen}" radius="0.2"/>
      </geometry>
      <origin xyz="0 0 -${cyllen/2}" rpy="0 0 0"/>
      <collision>
      <xacro:default_interial mass="2"/>
  </link>

<xacro:cyl suffix="1" reflect="1" />

  <link name="base_link">
    <visual>
      <geometry>
        <cylinder length="0.6" radius="0.2"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 .3"/>
    </visual>
  </link>

  <joint name="world" type="fixed">
    <parent link="world"/>
    <child link="cyl_${suffix}">
    <origin xyz="0 0 -${cyllen}">
  </joint>

</robot>
