<?xml version="1.0"?>
<robot name="objects" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Color Definitions -->
  <material name="red">
    <color rgba="0.8 0.0 0.0 1.0"/>
  </material>
  <material name="blue">
    <color rgba="0.0 0.0 0.8 1.0"/>
  </material>
  <material name="green">
    <color rgba="0.0 0.8 0.0 1.0"/>
  </material>
  <material name="white">
    <color rgba="1.0 1.0 1.0 1.0"/>
  </material>
  <material name="yellow">
    <color rgba="0.8 0.8 0.0 1.0"/>
  </material>
  <material name="gray">
    <color rgba="0.7 0.7 0.7 1.0"/>
  </material>
  <material name="wood">
    <color rgba="${205/255} ${133/255} ${63/255} 1" />
  </material>

  <xacro:property name="base_l" value="10"/>
  <xacro:property name="base_w" value="10"/>
  <xacro:property name="base_h" value="0.2"/>
  <xacro:property name="cyllen" value="0.6"/>
  <xacro:property name="cylrad" value="0.3"/>
  <xacro:property name="box_l" value="0.6"/>
  <xacro:property name="box_w" value="0.6"/>
  <xacro:property name="box_h" value="0.6"/>

<!-- <xacro:property name="cyl" value="cylinder" /> -->

  <!-- <link name="box"/>
    <visual>
      <geometry>
        <box size="1 1 0.2"/>
      </geometry>
    </visual>
  </link> -->

<!-- Box 1 -->
<link name="base">
  <visual>
    <geometry>
      <box size="${base_l} ${base_w} ${base_h}"/>
    </geometry>
    <origin xyz="0 0 ${base_h/2}" rpy="0 0 0"/>
    <material name="wood"/>
  </visual>
  <collision>
    <geometry>
      <box size="${base_l} ${base_w} ${base_h}"/>
    </geometry>
    <origin xyz="0 0 ${base_h/2}" rpy="0 0 0"/>
  </collision>
</link>

<!-- Cylinder 1 -->
  <link name="cyl_1">
    <visual>
      <geometry>
        <cylinder radius="${cylrad}" length="${cyllen}"/>
      </geometry>
      <origin xyz="${cylrad*4} -${cylrad*6} ${cyllen/2+base_h}" rpy="0 0 0"/>
      <material name="red"/>
    </visual>
    <collision>
      <geometry>
      	<cylinder radius="${cylrad}" length="${cyllen}"/>
      </geometry>
      <origin xyz="${cylrad*4} -${cylrad*6} ${cyllen/2+base_h}" rpy="0 0 0"/>
    </collision>
  </link>

<!-- Cylinder 2 -->
<link name="cyl_2">
  <visual>
    <geometry>
      <cylinder radius="${cylrad}" length="${cyllen}"/>
    </geometry>
    <origin xyz="-${cylrad*3} -${cylrad*6} ${cyllen/2+base_h}" rpy="0 0 0"/>
    <material name="blue"/>
  </visual>
  <collision>
    <geometry>
      <cylinder radius="${cylrad}" length="${cyllen}"/>
    </geometry>
    <origin xyz="-${cylrad*3} -${cylrad*6} ${cyllen/2+base_h}" rpy="0 0 0"/>
  </collision>
</link>

<!-- Cylinder 3 -->
  <link name="cyl_3">
    <visual>
      <geometry>
        <cylinder radius="${cylrad}" length="${cyllen}"/>
      </geometry>
      <origin xyz="-${cylrad*6} ${cylrad*8} ${cyllen/2+base_h}" rpy="0 0 0"/>
      <material name="red"/>
    </visual>
    <collision>
      <geometry>
      	<cylinder radius="${cylrad}" length="${cyllen}"/>
      </geometry>
      <origin xyz="-${cylrad*6} ${cylrad*8} ${cyllen/2+base_h}" rpy="0 0 0"/>
    </collision>
  </link>

  <!-- Box 1 -->
  <link name="box_1">
    <visual>
      <geometry>
        <box size="${box_l} ${box_w} ${box_h}"/>
      </geometry>
      <origin xyz="${box_l*2} ${box_w*3} ${box_h/2+base_h}" rpy="0 0 0"/>
      <material name="blue"/>
    </visual>
    <collision>
      <geometry>
        <box size="${box_l} ${box_w} ${box_h}"/>
      </geometry>
      <origin xyz="${box_l*2} ${box_w*3} ${box_h/2+base_h}" rpy="0 0 0"/>
    </collision>
  </link>

  <!-- Box 2 -->
  <link name="box_2">
    <visual>
      <geometry>
        <box size="${box_l} ${box_w} ${box_h}"/>
      </geometry>
      <origin xyz="-${box_l*5} ${box_w*3} ${box_h/2+base_h}" rpy="0 0 0"/>
      <material name="green"/>
    </visual>
    <collision>
      <geometry>
        <box size="${box_l} ${box_w} ${box_h}"/>
      </geometry>
      <origin xyz="-${box_l*5} ${box_w*3} ${box_h/2+base_h}" rpy="0 0 0"/>
    </collision>
  </link>

  <!-- Box 3 -->
  <link name="box_3">
    <visual>
      <geometry>
        <box size="${box_l} ${box_w} ${box_h}"/>
      </geometry>
      <origin xyz="${box_l*6} 0 ${box_h/2+base_h}" rpy="0 0 0"/>
      <material name="green"/>
    </visual>
    <collision>
      <geometry>
        <box size="${box_l} ${box_w} ${box_h}"/>
      </geometry>
      <origin xyz="${box_l*6} 0 ${box_h/2+base_h}" rpy="0 0 0"/>
    </collision>
  </link>

<!-- Links -->
<joint name="joint_1" type="fixed">
  <axis xyz = "0 0 ${base_h/2}" />
  <origin rpy="0 0 0" xyz="0 0 0"/>
  <parent link="base"/>
  <child link="cyl_1"/>
</joint>

<joint name="joint_2" type="fixed">
  <axis xyz = "0 0 ${base_h/2}" />
  <origin rpy="0 0 0" xyz="0 0 0"/>
  <parent link="base"/>
  <child link="cyl_2"/>
</joint>

<joint name="joint_3" type="fixed">
  <axis xyz = "0 0 ${base_h/2}" />
  <origin rpy="0 0 0" xyz="0 0 0"/>
  <parent link="base"/>
  <child link="cyl_3"/>
</joint>

<joint name="joint_4" type="fixed">
  <axis xyz = "0 0 ${box_h/2+base_h}" />
  <origin rpy="0 0 0" xyz="0 0 0"/>
  <parent link="base"/>
  <child link="box_1"/>
</joint>

<joint name="joint_5" type="fixed">
  <axis xyz = "0 0 ${box_h/2+base_h}" />
  <origin rpy="0 0 0" xyz="0 0 0"/>
  <parent link="base"/>
  <child link="box_2"/>
</joint>

<joint name="joint_6" type="fixed">
  <axis xyz = "0 0 ${box_h/2+base_h}" />
  <origin rpy="0 0 0" xyz="0 0 0"/>
  <parent link="base"/>
  <child link="box_3"/>
</joint>


</robot>
