<?xml version="1.0"?>
<model>
  <name>camera</name>
  <version>1.0</version>
  <sdf version='1.6'>model.sdf</sdf>

  <author>
   <name>Russell Valente</name>
   <email>rcvalente2@wpi.edu</email>
  </author>

  <description>
    Simple camera model. Doesn't publish to ROS but saves images directly to /tmp
  </description>
</model>
